.rooms{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.rooms::-webkit-scrollbar {
    display: none;
  }
.btn{
    text-decoration: none;
    min-height: 30px;
    background: #FFF;
    border: none;
    color: #000;
    font-family: Georgia;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
    margin: 2px 2px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #E06733;
}
.btn:hover{
    cursor: pointer;
    background: #9fc198;
}
.current{
    background: #9fc198;
}
.text{
    margin: 10px;
}

@media (max-width: 700px){
    .btn{
        min-height: 70px;
    }
}